include LICENSE
include README.md
include CHANGELOG.md
include pyproject.toml

recursive-include tenant_authx *.py
include tenant_authx/py.typed
recursive-include tenant_authx/migrations *.py

global-exclude __pycache__
global-exclude *.py[cod]
global-exclude .DS_Store
